table {
    border: 2px dashed navy;
}

th {
    border: 1px solid darkgray;
}

td {
    border: 1px solid grey;
    background-color: whitesmoke;
}

#text {
    border: 1px solid red;
    margin: 25px 20px 15px 10px;
    padding: 10px;
}